body {
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-links {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.logo {

}

.hero-content {
  display: flex;
  justify-content: space-around;
  padding: 80px 40px;
}

.hero-desc {
  width: 300px;
  gap: 2px;
}

.image {
  padding: 30px 70px;
  background-color: grey;
}

h1, p, button, ul {
  margin: 0;
}